<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>es-419</string>
		<string>fr</string>
		<string>it</string>
		<string>pt</string>
		<string>pt-BR</string>
		<string>ro</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.677684709546-l1u0jfactp8k0vhaojh0mo7a8rp68qoh</string>
			</array>
		</dict>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>We'd like to send you daily spiritual quotes to inspire your journey.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This allows us to provide you with personalized content and improve your experience with relevant insights.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
